body, html{
    margin: 0;
    padding: 0;
}

.background{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.left-side {
    background-color: #DBD406;
    width: 50%;
    height: 100%;
}

.right-side {
    background-color: #11782D;
    width: 50%;
    height: 100%;
}

.nav-logo {
    position: fixed;
    margin-top: 0 !important;
}

.parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-container{
    background-color: white;
    border-radius: 15px;
    height: 90vh;
    width: 92.97vw;
}

.title{
    color: #11782D;
    font-weight: bolder;
    font-style: italic;
    font-size: 32px;
}

.tablink {
    color: #11782D;
    font-weight: bolder;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    margin-bottom: 5vh;
    height: 8.4vh;
    border-radius: 15px;
    background-color: #D9D9D9;
    padding: unset;
}

.tab{
    line-height: 8.4vh;
}

.active {
    color: #11782D;
    font-weight: bolder;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    margin-bottom: 5vh;
    height: 8.4vh;
    border-radius: 15px;
    background-color: #DBD406;
    padding: unset;
}

.content#Adress{
    display: block;
}

.content {
    display: none;
    top: 50%;
}

.label {
    font-size: 20px;
    color: #11782D;
    margin-left: 1vw;
    font-weight: bold;
}

input {
    border-radius: 20px;
    height: 8vh;
    background-color: #D9D9D9;
    border: unset;
    padding-left: 1vw;
    padding-right: 1vw;
}

.btn-cancel {
    border-radius: 15px;
    background-color: dimgray;
    color: white;
    font-weight: bold;
    margin: 2vh;
}

.btn-continue {
    border-radius: 15px;
    background-color: #11782D;
    color: white;
    font-weight: bold;
    margin: 2vh;
}

input{
    font-weight: 600;
}

