html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #11782D;
    height: 10vh;
    margin-bottom: 6vh;
}

.nav-logo {
    margin-top: 6vh;
    margin-left: 1vw;
    height: 16vh;
}

.nav-btn {
    background-color: #DBD406;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #074016;
    font-weight: bolder;
}

.footer {
    background-color: #11782D;
}

.footer-span {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: .2vh;
    padding-top: .5vh;
    color: #a8a30c;
    font-weight: 600;
    text-align: center;
    line-height: 5vh;
}

.footer-icon {
    font-size: 24px;
    text-decoration: none !important;
    color: #a8a30c !important;
}

.dropdown{
    margin-left: auto;
    margin-right: 5vw;
}

.drop-text {
    font-size: 20px;
    color: #DBD406 !important;
    text-decoration: none !important;
}