<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quavidog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quavidog.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/27446990ba.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.svg" class="nav-logo" />
            </a>
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-md-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn nav-btn" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-btn" asp-controller="Home" asp-action="Test">Creche & Hotel</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-btn" asp-controller="Home" asp-action="Test">Escola</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-btn" asp-controller="Home" asp-action="Test">Adestramento</a>
                        </li>
                    </ul>

                    <div class="end-align login-link">
                        <a class="login-link" asp-controller="Login" asp-action="Index">
                            <i class="fa-solid fa-user"></i>
                            Entrar ou cadastrar-se
                        </a>
                    </div>

                    @*                   <div class="nav-item dropdown end-align">
                    <a class="nav-link dropdown-toggle drop-text" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    Vinicius
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li>
                    <a class="dropdown-item drop-text" asp-controller="User" asp-action="Update"><i class="fa-solid fa-gear"></i> Opções</a>
                    </li>
                    <li>
                    <a class="dropdown-item drop-text" asp-controller="User" asp-action="UpdatePassword"><i class="fa-solid fa-key"></i> Alterar senha</a>
                    </li>
                    <li style="font-size: 2rem;">
                    <form asp-controller="Login" asp-action="Logout" method="post" id="logoutForm">
                    <a style="cursor: pointer;" class="dropdown-item drop-text" onclick="document.getElementById('logoutForm').submit();"><i class="fa-solid fa-door-open"></i> Logout</a>
                    </form>
                    </li>
                    </ul>
                    </div>*@
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container d-flex flex-row justify-content-around">
            <span class="footer-span">Quavidog Educação Canina LTDA - 31.576.832/0001-84</span>
            <div class="d-flex flex-row justify-content-center">
                <span class="footer-span">
                    <a href="https://www.instagram.com/quavidog.educacao"><i class="fa-brands fa-instagram footer-icon"></i></a>
                </span>
                <span class="footer-span">
                    <a href="https://www.facebook.com/profile.php?id=100072254836806"><i class="fa-brands fa-facebook footer-icon"></i></a>
                </span>
                <span class="footer-span">
                    <a href="https://wa.me//554797517430?text=Ol%C3%A1!%20Gostaria%20de%20receber%20mais%20informa%C3%A7%C3%B5es"><i class="fa-brands fa-whatsapp footer-icon"></i></a>
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
